@{
    ViewBag.Title = "About Us";
}


<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
            @ViewBag.Title</h1>
          
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="~/enduser/img/close-up-view-lebanon-national-flag-waving-wind-al-generated-image-lebanon-flag-waving-wind-3062.webp" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                <h5 class="section-about-title pe-3">About Us</h5>
                <h1 class="mb-4">Welcome to <span class="text-primary">Zoor Lebanon</span></h1>
                <p class="mb-4">At Zoor Lebanon, we believe that every journey is an opportunity to explore, connect, and create memories that last a lifetime. Dedicated to showcasing the hidden gems and breathtaking landscapes of Lebanon, we offer curated tour packages that cater to adventurers, culture enthusiasts, and relaxation seekers alike.</p>
                <p class="mb-4">Whether you're looking to hike through majestic mountains, savor authentic Lebanese cuisine, or unwind by the serene seaside, Zoor Lebanon is your trusted companion. With a focus on quality, authenticity, and ease of planning, we aim to make your next adventure unforgettable.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Flexible Booking Options</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Guided Tours with Experts</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Authentic Culinary Experiences</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Historical & Cultural Landmarks</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Hidden Gems of Lebanon/p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Exciting Water Activities</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About End -->
<!-- Travel Guide Start -->
@* <div class="container-fluid guide py-5"> *@
@*     <div class="container py-5"> *@
@*         <div class="mx-auto text-center mb-5" style="max-width: 900px;"> *@
@*             <h5 class="section-title px-3">Travel Guide</h5> *@
@*             <h1 class="mb-0">Meet Our Guide</h1> *@
@*         </div> *@
@*         <div class="row g-4"> *@
@*             <div class="col-md-6 col-lg-3"> *@
@*                 <div class="guide-item"> *@
@*                     <div class="guide-img"> *@
@*                         <div class="guide-img-efects"> *@
@*                             <img src="/enduser/img/guide-1.jpg" class="img-fluid w-100 rounded-top" alt="Image"> *@
@*                         </div> *@
@*                         <div class="guide-icon rounded-pill p-2"> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="guide-title text-center rounded-bottom p-4"> *@
@*                         <div class="guide-title-inner"> *@
@*                             <h4 class="mt-3">Full Name</h4> *@
@*                             <p class="mb-0">Designation</p> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-md-6 col-lg-3"> *@
@*                 <div class="guide-item"> *@
@*                     <div class="guide-img"> *@
@*                         <div class="guide-img-efects"> *@
@*                             <img src="/enduser/img/guide-2.jpg" class="img-fluid w-100 rounded-top" alt="Image"> *@
@*                         </div> *@
@*                         <div class="guide-icon rounded-pill p-2"> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="guide-title text-center rounded-bottom p-4"> *@
@*                         <div class="guide-title-inner"> *@
@*                             <h4 class="mt-3">Full Name</h4> *@
@*                             <p class="mb-0">Designation</p> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-md-6 col-lg-3"> *@
@*                 <div class="guide-item"> *@
@*                     <div class="guide-img"> *@
@*                         <div class="guide-img-efects"> *@
@*                             <img src="/enduser/img/guide-3.jpg" class="img-fluid w-100 rounded-top" alt="Image"> *@
@*                         </div> *@
@*                         <div class="guide-icon rounded-pill p-2"> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="guide-title text-center rounded-bottom p-4"> *@
@*                         <div class="guide-title-inner"> *@
@*                             <h4 class="mt-3">Full Name</h4> *@
@*                             <p class="mb-0">Designation</p> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-md-6 col-lg-3"> *@
@*                 <div class="guide-item"> *@
@*                     <div class="guide-img"> *@
@*                         <div class="guide-img-efects"> *@
@*                             <img src="/enduser/img/guide-4.jpg" class="img-fluid w-100 rounded-top" alt="Image"> *@
@*                         </div> *@
@*                         <div class="guide-icon rounded-pill p-2"> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a> *@
@*                             <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="guide-title text-center rounded-bottom p-4"> *@
@*                         <div class="guide-title-inner"> *@
@*                             <h4 class="mt-3">Full Name</h4> *@
@*                             <p class="mb-0">Designation</p> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
<!-- Travel Guide End -->
        